In [1]:
#DEFINE LIBRARIES
import pandas as pd
import numpy as np
import re, warnings
warnings.filterwarnings(action='ignore')
import matplotlib

In [2]:
#CREATING A DATAFRAME FROM CSV FILE
raw_data=pd.read_csv('attacks.csv',encoding="latin1")
raw_data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#MAKING A COPY FROM THE RAW DATA, THIS NEW DATAFRAME "DATA" IS THAT WE WILL WORKING WITH
data=raw_data.copy()
#DATAFRAME DIMENSIONS
data.shape

(25723, 24)

In [4]:
#AND ITS TYPES
data.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [5]:
#NEVERTHELESS, WE REDUCE DE SHAPE OF DATAFRAME, LOOK THE CSV FILE IN A CSV READER. AND WE DEFINE NEW DATAFRAME "DF" FROM "DATA"
df=data.iloc[0:6301,0:22]
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0

In [6]:
#NULL CELLS IN HOLE DATAFRAME
df.isnull().sum().sum()

11977

In [7]:
#IN ATRIBUTES FROM "DF", RENAME ALL WITHOUT WHITESPACE AT LEFT OR RIGHT SIDE
df.columns = df.columns.str.lstrip()
df.columns = df.columns.str.rstrip()

In [8]:
df.isnull().sum().sum()

11977

In [9]:
df.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,...,N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0

In [10]:
#FILLING WITH -- ANY NAN IN OBJECT TYPE AND 0 FOR AGE, LATER USED AT INSIGHT
df['Case Number']=df['Case Number'].fillna("--")
df.Date=df.Date.fillna("--")
df.Year=df.Year.fillna("--")
df.Type=df.Type.fillna("--")
df.Country=df.Country.fillna("--")
df.Area=df.Area.fillna("--")
df.Location=df.Location.fillna("--")
df.Activity=df.Activity.fillna("--")
df.Name=df.Name.fillna("--")
df.Sex=df.Sex.fillna("--")
df.Age=df.Age.fillna(0)
df.Injury=df.Injury.fillna("--")
df['Fatal (Y/N)']=df['Fatal (Y/N)'].fillna("--")
df.Time=df.Time.fillna("--")
df.Species=df.Species.fillna("--")
df['Investigator or Source']=df['Investigator or Source'].fillna("--")
df.pdf=df.pdf.fillna("--")
df['href formula']=df['href formula'].fillna("--")
df.href=df.href.fillna("--")
df['Case Number.1']=df['Case Number.1'].fillna("--")
df['Case Number.2']=df['Case Number.2'].fillna("--")
df['original order']=df['original order'].fillna("--")
df.dtypes

Case Number                object
Date                       object
Year                       object
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
dtype: object

In [11]:
df['Age'].isnull().sum()

0

In [12]:
df.Age=df.Age.fillna(0)

In [13]:
df.isnull().sum().sum()

0

In [14]:
df.dtypes

Case Number                object
Date                       object
Year                       object
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
dtype: object

In [15]:
#Case Number
df['Case Number']=df['Case Number'].str.replace('\.\D','')
df['Case Number']=df['Case Number'].str.replace('\.00','')
df['Case Number']=df['Case Number'].str.replace('0.0','')
df['Case Number']=df['Case Number'].str.replace('ND-\d{1,4}','--')
df['Case Number']=df['Case Number'].str.replace('ND\.\d{1,4}','--')
df['Case Number']=df['Case Number'].str.replace('ND\d{1,2}','--')
#Case Number.1
df['Case Number.1']=df['Case Number.1'].str.replace('\.\D','')
df['Case Number.1']=df['Case Number.1'].str.replace('\.00','')
df['Case Number.1']=df['Case Number.1'].str.replace('0.0','')
df['Case Number.1']=df['Case Number.1'].str.replace('ND-\d{1,4}','--')
df['Case Number.1']=df['Case Number.1'].str.replace('ND\.\d{1,4}','--')
df['Case Number.1']=df['Case Number.1'].str.replace('ND\d{1,2}','--')
df['Case Number.1']=df['Case Number.1'].str.replace('^http','--')
#Case Number.2
df['Case Number.2']=df['Case Number.2'].str.replace('\.\D','')
df['Case Number.2']=df['Case Number.2'].str.replace('\.00','')
df['Case Number.2']=df['Case Number.2'].str.replace('0.0','')
df['Case Number.2']=df['Case Number.2'].str.replace('ND-\d{1,4}','--')
df['Case Number.2']=df['Case Number.2'].str.replace('ND\.\d{1,4}','--')
df['Case Number.2']=df['Case Number.2'].str.replace('ND\d{1,2}','--')
df['Case Number.2']=df['Case Number.2'].str.replace('^http','--')

In [16]:
df.Date=df.Date.str.replace('\.\D','')
df.Date=df.Date.str.replace('\.00','')
df.Date=df.Date.str.replace('R\D+d','')
df.Date=df.Date.str.replace('ep\w+d','')
df.Date=df.Date.str.replace('\(\)','')
df.Date=df.Date.str.replace('Mid ','')
df.Date=df.Date.str.replace('mid-','')
df.Date=df.Date.str.replace('\D+\.','')
df.Date=df.Date.str.replace('\s\s\d+\s','')
df.Date=df.Date.str.replace('L.+d\s','')
df.Date=df.Date.str.replace('C.+a\s','')
df.Date=df.Date.str.replace('No date, ','')
df.Date=df.Date.str.replace('No date','')
df.Date=df.Date.str.replace('.+\w\sto\s','')
df.Date=df.Date.str.replace('\(s\D+','')
df.Date=df.Date.str.replace('\(p.+\)','')
df.Date=df.Date.str.replace('\?','')
df.Date=df.Date.str.replace('Ca','')
df.Date=df.Date.str.replace('\"\D+','')
df.Date=df.Date.str.replace('A.+s\s','')
df.Date=df.Date.str.replace('\(.+\)','')
df.Date=df.Date.str.replace('S.+of\s','')
df.Date=df.Date.str.replace('S.+r\s','')
df.Date=df.Date.str.replace('Late ','')
df.Date=df.Date.str.replace('Early ','')
df.Date=df.Date.str.replace('\sD.+h','')
df.Date=df.Date.str.replace('\sto.+in\s','')
df.Date=df.Date.str.replace('\,.+d\s\d{4}','')
df.Date=df.Date.str.replace('b.+y\s','')
df.Date=df.Date.str.replace('A.+d\s','')
df.Date=df.Date.str.replace('W.+I','Between 1939-1945')
df.Date=df.Date.str.replace('L.+g','1994')
df.Date=df.Date.str.replace('\D.+&\s','')
df.Date=df.Date.str.replace('0.+r\s','')

In [17]:
df.Year=df.Year.str.replace('\d{5,20}','')
df.Area=df.Area.str.replace('�','')
df.Location=df.Location.str.replace('�','')
df.Activity=df.Activity.str.replace('�','')
df.Name=df.Name.str.replace('�','')
df.Name=df.Name.str.replace('f.+','unknown')
df.Name=df.Name.str.replace('m.+','unknown')
df.Sex=df.Sex.str.replace('\w{2,7}','')
#For Insight
df.Age=df.Age.str.replace('\D','')
df.Age=df.Age.str.replace('\d{3,15}','')
df.Age=df.Age.str.replace('\D.+','')
#
df.Injury=df.Injury.str.replace('�','')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('\w{2,7}','')
df.Time=df.Time.str.replace('�','')
df.Time=df.Time.str.replace('^\D+','')
df.Time=df.Time.str.replace('hoo','00')
df.Species=df.Species.str.replace('i.+d','unknown')
df.Species=df.Species.str.replace('I.+d','unknown')
df.Species=df.Species.str.replace('^Shark.+nt','unknown')#Shark involvement
df.Species=df.Species.str.replace('^Shark.+ful','unknown')#Shark involvement
df.Species=df.Species.str.replace('^shark.+nt','unknown')#shark involvement
#White shark
df.Species=df.Species.str.replace('w.+shark','White shark')
df.Species=df.Species.str.replace('W.+shark.+','White shark')
df.Species=df.Species.str.replace('w.+shark.+','White shark')
df.Species=df.Species.str.replace('^.+Wh','White shark')
df.Species=df.Species.str.replace('^.+wh','White shark')
#Tiger shark
df.Species=df.Species.str.replace('ti.+shark.+','Tiger shark')
df.Species=df.Species.str.replace('ti.+shark','Tiger shark')
df.Species=df.Species.str.replace('Ti.+shark.+','Tiger shark')
df.Species=df.Species.str.replace('\w+Ti','Tiger shark')
#Zambesi shark
df.Species=df.Species.str.replace('Z.+shark.+','Zambesi shark')
df.Species=df.Species.str.replace('z.+shark.+','Zambesi shark')
df.Species=df.Species.str.replace('z.+shark','Zambesi shark')
#Mako shark
df.Species=df.Species.str.replace('Mak.+shark.+','Mako shark')
df.Species=df.Species.str.replace('mak.+shark.+','Mako shark')
df.Species=df.Species.str.replace('mak.+shark','Mako shark')
#Caribbean reef shark
df.Species=df.Species.str.replace('Car.+shark.+','Caribbean reef shark')
df.Species=df.Species.str.replace('car.+shark.+','Caribbean reef shark')
df.Species=df.Species.str.replace('car.+shark','Caribbean reef shark')
df.Species=df.Species.str.replace('re.+shark','unknown shark')
#Grey reef shark
df.Species=df.Species.str.replace('Gr.+ef\sshark.+','Grey reef shark')
df.Species=df.Species.str.replace('gr.+ef\sshark.+','Grey reef shark')
df.Species=df.Species.str.replace('gr.+ef\sshark','Grey reef shark')
#Broadnose sevegnil shark
df.Species=df.Species.str.replace('Br.+shark.+','Broadnose sevegnil shark')
df.Species=df.Species.str.replace('br.+shark.+','Broadnose sevegnil shark')
df.Species=df.Species.str.replace('br.+shark','Broadnose sevegnil shark')
#Blue shark
df.Species=df.Species.str.replace('Bl.+shark.+','Blue shark')
df.Species=df.Species.str.replace('bl.+shark.+','Blue shark')
df.Species=df.Species.str.replace('bl.+shark','Blue shark')
#Lemon shark
df.Species=df.Species.str.replace('le.+shark.+','Lemon shark')
df.Species=df.Species.str.replace('le.+shark','Lemon shark')
df.Species=df.Species.str.replace('Le.+shark.+','Lemon shark')
df.Species=df.Species.str.replace('.+\w{1,10}ni','')
#Bull shark
df.Species=df.Species.str.replace('bu.+shark.+','Bull shark')
df.Species=df.Species.str.replace('Bu.+shark.+','Bull shark')
df.Species=df.Species.str.replace('bu.+shark','Bull shark')
#Dusky shark
df.Species=df.Species.str.replace('Dus.+shark.+','Dusky shark')
df.Species=df.Species.str.replace('dus.+shark.+','Dusky shark')
df.Species=df.Species.str.replace('dus.+shark','Dusky shark')
#Silky shark
df.Species=df.Species.str.replace('Sil.+shark.+','Silky shark')
df.Species=df.Species.str.replace('sil.+shark.+','Silky shark')
df.Species=df.Species.str.replace('sil.+shark','Silky shark')
#Spinner shark
df.Species=df.Species.str.replace('Spi.+shark.+','Spinner shark')
df.Species=df.Species.str.replace('spi.+shark.+','Spinner shark')
df.Species=df.Species.str.replace('spi.+shark','Spinner shark')
#Porbeagle shark
df.Species=df.Species.str.replace('Por.+shark.+','Porbeagle shark')
df.Species=df.Species.str.replace('por.+shark.+','Porbeagle shark')
df.Species=df.Species.str.replace('por.+shark','Porbeagle shark')
#Grey nurse shark
df.Species=df.Species.str.replace('gr.+nur.+shark.+','Grey nurse shark')
df.Species=df.Species.str.replace('Gr.+nur.+shark.+','Grey nurse shark')
df.Species=df.Species.str.replace('gr.+nur.+shark','Grey nurse shark')
df.Species=df.Species.str.replace('Nurse shark.+','Grey nurse shark')
#Whale
df.Species=df.Species.str.replace('^.+whale.+','Not shark')
df.Species=df.Species.str.replace('^.+Whale.+','Not shark')
df.Species=df.Species.str.replace('gr.+shark','Grey nurse shark')
#Not specified
df.Species=df.Species.str.replace('\d.+shark','unknown shark')
df.Species=df.Species.str.replace('shark\?','unknown shark')
df.Species=df.Species.str.replace('^No shark.+','unknown shark')
df.Species=df.Species.str.replace('^.+not a shark','unknown shark')
df.Species=df.Species.str.replace('^Q.+','unknown shark')
df.Species=df.Species.str.replace('^un.+','unknown shark')
df.Species=df.Species.str.replace('^Les.+','unknown shark')
df.Species=df.Species.str.replace('un.+rk.+','unknown shark')
df.Species=df.Species.str.replace('^\D{1,}unknown shark','unknown shark')
df.Species=df.Species.str.replace('\d.\s','')
df.Species=df.Species.str.replace('\"','')
df.Species=df.Species.str.replace('\<','')

In [18]:
df.pdf=df.pdf.str.replace('\d.+-','')
df.pdf=df.pdf.str.replace('\d.+\.','')

In [19]:
df.dtypes

Case Number                object
Date                       object
Year                       object
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
dtype: object

In [20]:
df.Age=df.Age.fillna(0)

In [21]:
df['Age'].isnull().sum()

0

In [24]:
#CHANGING FLOAT TYPE TO INT TYPE
def cast_int(*args):
    for e in args:
        df[e] = pd.to_numeric(df[e],errors='coerce')
cast_int(df['Age'])
#CHANGING FLOAT TYPE TO STR TYPE
def cast_obj(*args):
    for e in args:
        df[e] = df[e].astype(str)
    return
cast_obj(df['Year','original order'])
df.dtypes

KeyError: "None of [Index(['57', '11', '48',    0,    0,    0, '18', '52', '15', '12',\n       ...\n          0,    0,    0,    0,    0,    0,    0,    0,    0,    0],\n      dtype='object', length=6301)] are in the [columns]"

In [ ]:
df.to_csv('attacks_clean.csv')

In [ ]:
#Insight: Mean age of people shark attacked by
df.Age=df.Age.str.extract('(\d*,\d*)')
df_insight=pd.DataFrame(df.groupby('Country').Age.mean())
df_insight

In [53]:
def libs():
    #DEFINE LIBRARIES
    import pandas as pd
    import numpy as np
    import re, warnings
    warnings.filterwarnings(action='ignore')
    import matplotlib
    return

def read(path):
    return pd.read_csv(path,encoding="latin1")

def cut(df):
    return df.iloc[0:6301,0:22]

def sharp(df):
    df.columns.str.rstrip()
    df.columns.str.lstrip()
    return 


def filllingna(df):
    df['Case Number']=df['Case Number'].fillna("--")
    df.Date=df.Date.fillna("--")
    df.Year=df.Year.fillna("--")
    df.Type=df.Type.fillna("--")
    df.Country=df.Country.fillna("--")
    df.Area=df.Area.fillna("--")
    df.Location=df.Location.fillna("--")
    df.Activity=df.Activity.fillna("--")
    df.Name=df.Name.fillna("--")
    df.Sex=df.Sex.fillna("--")
    df.Age=df.Age.fillna(0)
    df.Injury=df.Injury.fillna("--")
    df['Fatal (Y/N)']=df['Fatal (Y/N)'].fillna("--")
    df.Time=df.Time.fillna("--")
    df.Species=df.Species.fillna("--")
    df['Investigator or Source']=df['Investigator or Source'].fillna("--")
    df.pdf=df.pdf.fillna("--")
    df['href formula']=df['href formula'].fillna("--")
    df.href=df.href.fillna("--")
    df['Case Number.1']=df['Case Number.1'].fillna("--")
    df['Case Number.2']=df['Case Number.2'].fillna("--")
    df['original order']=df['original order'].fillna("--")
    return

#CHANGING FLOAT TYPE TO STR TYPE ANY COLUMN GIVEN IN ARGS
def cast_obj(*args):
    for e in args:
        df[e] = df[e].astype(str)
    return

#CLEANING A BULK OF DATA
def worstcase(df):
    #Case Number
    df['Case Number']=df['Case Number'].str.replace('\.\D','')
    df['Case Number']=df['Case Number'].str.replace('\.00','')
    df['Case Number']=df['Case Number'].str.replace('0.0','')
    df['Case Number']=df['Case Number'].str.replace('ND-\d{1,4}','--')
    df['Case Number']=df['Case Number'].str.replace('ND\.\d{1,4}','--')
    df['Case Number']=df['Case Number'].str.replace('ND\d{1,2}','--')
    #Case Number.1
    df['Case Number.1']=df['Case Number.1'].str.replace('\.\D','')
    df['Case Number.1']=df['Case Number.1'].str.replace('\.00','')
    df['Case Number.1']=df['Case Number.1'].str.replace('0.0','')
    df['Case Number.1']=df['Case Number.1'].str.replace('ND-\d{1,4}','--')
    df['Case Number.1']=df['Case Number.1'].str.replace('ND\.\d{1,4}','--')
    df['Case Number.1']=df['Case Number.1'].str.replace('ND\d{1,2}','--')
    df['Case Number.1']=df['Case Number.1'].str.replace('^http','--')
    #Case Number.2
    df['Case Number.2']=df['Case Number.2'].str.replace('\.\D','')
    df['Case Number.2']=df['Case Number.2'].str.replace('\.00','')
    df['Case Number.2']=df['Case Number.2'].str.replace('0.0','')
    df['Case Number.2']=df['Case Number.2'].str.replace('ND-\d{1,4}','--')
    df['Case Number.2']=df['Case Number.2'].str.replace('ND\.\d{1,4}','--')
    df['Case Number.2']=df['Case Number.2'].str.replace('ND\d{1,2}','--')
    df['Case Number.2']=df['Case Number.2'].str.replace('^http','--')
    df.Date=df.Date.str.replace('\.\D','')
    df.Date=df.Date.str.replace('\.00','')
    df.Date=df.Date.str.replace('R\D+d','')
    df.Date=df.Date.str.replace('ep\w+d','')
    df.Date=df.Date.str.replace('\(\)','')
    df.Date=df.Date.str.replace('Mid ','')
    df.Date=df.Date.str.replace('mid-','')
    df.Date=df.Date.str.replace('\D+\.','')
    df.Date=df.Date.str.replace('\s\s\d+\s','')
    df.Date=df.Date.str.replace('L.+d\s','')
    df.Date=df.Date.str.replace('C.+a\s','')
    df.Date=df.Date.str.replace('No date, ','')
    df.Date=df.Date.str.replace('No date','')
    df.Date=df.Date.str.replace('.+\w\sto\s','')
    df.Date=df.Date.str.replace('\(s\D+','')
    df.Date=df.Date.str.replace('\(p.+\)','')
    df.Date=df.Date.str.replace('\?','')
    df.Date=df.Date.str.replace('Ca','')
    df.Date=df.Date.str.replace('\"\D+','')
    df.Date=df.Date.str.replace('A.+s\s','')
    df.Date=df.Date.str.replace('\(.+\)','')
    df.Date=df.Date.str.replace('S.+of\s','')
    df.Date=df.Date.str.replace('S.+r\s','')
    df.Date=df.Date.str.replace('Late ','')
    df.Date=df.Date.str.replace('Early ','')
    df.Date=df.Date.str.replace('\sD.+h','')
    df.Date=df.Date.str.replace('\sto.+in\s','')
    df.Date=df.Date.str.replace('\,.+d\s\d{4}','')
    df.Date=df.Date.str.replace('b.+y\s','')
    df.Date=df.Date.str.replace('A.+d\s','')
    df.Date=df.Date.str.replace('W.+I','Between 1939-1945')
    df.Date=df.Date.str.replace('L.+g','1994')
    df.Date=df.Date.str.replace('\D.+&\s','')
    df.Date=df.Date.str.replace('0.+r\s','')
    df.Year=df.Year.str.replace('\d{5,20}','')
    df.Area=df.Area.str.replace('�','')
    df.Location=df.Location.str.replace('�','')
    df.Activity=df.Activity.str.replace('�','')
    df.Name=df.Name.str.replace('�','')
    df.Name=df.Name.str.replace('f.+','unknown')
    df.Name=df.Name.str.replace('m.+','unknown')
    df.Sex=df.Sex.str.replace('\w{2,7}','')
    #For Insight
    df.Age=df.Age.str.replace('\D','')
    df.Age=df.Age.str.replace('\d{3,15}','')
    df.Age=df.Age.str.replace('\D.+','')
    #
    df.Injury=df.Injury.str.replace('�','')
    df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('\w{2,7}','')
    df.Time=df.Time.str.replace('�','')
    df.Time=df.Time.str.replace('^\D+','')
    df.Time=df.Time.str.replace('hoo','00')
    df.Species=df.Species.str.replace('i.+d','unknown')
    df.Species=df.Species.str.replace('I.+d','unknown')
    df.Species=df.Species.str.replace('^Shark.+nt','unknown')#Shark involvement
    df.Species=df.Species.str.replace('^Shark.+ful','unknown')#Shark involvement
    df.Species=df.Species.str.replace('^shark.+nt','unknown')#shark involvement
    #White shark
    df.Species=df.Species.str.replace('w.+shark','White shark')
    df.Species=df.Species.str.replace('W.+shark.+','White shark')
    df.Species=df.Species.str.replace('w.+shark.+','White shark')
    df.Species=df.Species.str.replace('^.+Wh','White shark')
    df.Species=df.Species.str.replace('^.+wh','White shark')
    #Tiger shark
    df.Species=df.Species.str.replace('ti.+shark.+','Tiger shark')
    df.Species=df.Species.str.replace('ti.+shark','Tiger shark')
    df.Species=df.Species.str.replace('Ti.+shark.+','Tiger shark')
    df.Species=df.Species.str.replace('\w+Ti','Tiger shark')
    #Zambesi shark
    df.Species=df.Species.str.replace('Z.+shark.+','Zambesi shark')
    df.Species=df.Species.str.replace('z.+shark.+','Zambesi shark')
    df.Species=df.Species.str.replace('z.+shark','Zambesi shark')
    #Mako shark
    df.Species=df.Species.str.replace('Mak.+shark.+','Mako shark')
    df.Species=df.Species.str.replace('mak.+shark.+','Mako shark')
    df.Species=df.Species.str.replace('mak.+shark','Mako shark')
    #Caribbean reef shark
    df.Species=df.Species.str.replace('Car.+shark.+','Caribbean reef shark')
    df.Species=df.Species.str.replace('car.+shark.+','Caribbean reef shark')
    df.Species=df.Species.str.replace('car.+shark','Caribbean reef shark')
    df.Species=df.Species.str.replace('re.+shark','unknown shark')
    #Grey reef shark
    df.Species=df.Species.str.replace('Gr.+ef\sshark.+','Grey reef shark')
    df.Species=df.Species.str.replace('gr.+ef\sshark.+','Grey reef shark')
    df.Species=df.Species.str.replace('gr.+ef\sshark','Grey reef shark')
    #Broadnose sevegnil shark
    df.Species=df.Species.str.replace('Br.+shark.+','Broadnose sevegnil shark')
    df.Species=df.Species.str.replace('br.+shark.+','Broadnose sevegnil shark')
    df.Species=df.Species.str.replace('br.+shark','Broadnose sevegnil shark')
    #Blue shark
    df.Species=df.Species.str.replace('Bl.+shark.+','Blue shark')
    df.Species=df.Species.str.replace('bl.+shark.+','Blue shark')
    df.Species=df.Species.str.replace('bl.+shark','Blue shark')
    #Lemon shark
    df.Species=df.Species.str.replace('le.+shark.+','Lemon shark')
    df.Species=df.Species.str.replace('le.+shark','Lemon shark')
    df.Species=df.Species.str.replace('Le.+shark.+','Lemon shark')
    df.Species=df.Species.str.replace('.+\w{1,10}ni','')
    #Bull shark
    df.Species=df.Species.str.replace('bu.+shark.+','Bull shark')
    df.Species=df.Species.str.replace('Bu.+shark.+','Bull shark')
    df.Species=df.Species.str.replace('bu.+shark','Bull shark')
    #Dusky shark
    df.Species=df.Species.str.replace('Dus.+shark.+','Dusky shark')
    df.Species=df.Species.str.replace('dus.+shark.+','Dusky shark')
    df.Species=df.Species.str.replace('dus.+shark','Dusky shark')
    #Silky shark
    df.Species=df.Species.str.replace('Sil.+shark.+','Silky shark')
    df.Species=df.Species.str.replace('sil.+shark.+','Silky shark')
    df.Species=df.Species.str.replace('sil.+shark','Silky shark')
    #Spinner shark
    df.Species=df.Species.str.replace('Spi.+shark.+','Spinner shark')
    df.Species=df.Species.str.replace('spi.+shark.+','Spinner shark')
    df.Species=df.Species.str.replace('spi.+shark','Spinner shark')
    #Porbeagle shark
    df.Species=df.Species.str.replace('Por.+shark.+','Porbeagle shark')
    df.Species=df.Species.str.replace('por.+shark.+','Porbeagle shark')
    df.Species=df.Species.str.replace('por.+shark','Porbeagle shark')
    #Grey nurse shark
    df.Species=df.Species.str.replace('gr.+nur.+shark.+','Grey nurse shark')
    df.Species=df.Species.str.replace('Gr.+nur.+shark.+','Grey nurse shark')
    df.Species=df.Species.str.replace('gr.+nur.+shark','Grey nurse shark')
    df.Species=df.Species.str.replace('Nurse shark.+','Grey nurse shark')
    #Whale
    df.Species=df.Species.str.replace('^.+whale.+','Not shark')
    df.Species=df.Species.str.replace('^.+Whale.+','Not shark')
    df.Species=df.Species.str.replace('gr.+shark','Grey nurse shark')
    #Not specified
    df.Species=df.Species.str.replace('\d.+shark','unknown shark')
    df.Species=df.Species.str.replace('shark\?','unknown shark')
    df.Species=df.Species.str.replace('^No shark.+','unknown shark')
    df.Species=df.Species.str.replace('^.+not a shark','unknown shark')
    df.Species=df.Species.str.replace('^Q.+','unknown shark')
    df.Species=df.Species.str.replace('^un.+','unknown shark')
    df.Species=df.Species.str.replace('^Les.+','unknown shark')
    df.Species=df.Species.str.replace('un.+rk.+','unknown shark')
    df.Species=df.Species.str.replace('^\D{1,}unknown shark','unknown shark')
    df.Species=df.Species.str.replace('\d.\s','')
    df.Species=df.Species.str.replace('\"','')
    df.Species=df.Species.str.replace('\<','')
    df.pdf=df.pdf.str.replace('\d.+-','')
    df.pdf=df.pdf.str.replace('\d.+\.','')
    return
#CHANGING FLOAT TYPE TO INT TYPE
def cast_int(*args):
    for e in args:
        df[e] = pd.to_numeric(df[e],errors='coerce')
        
def insight(df):
    df.Age=df.Age.fillna(0)
    df.Age=df.Age.str.extract('(\d*,\d*)')
    df_insight=pd.DataFrame(df.groupby('Country').Age.mean())
    return df_insight

def exporttocsv(deliver):
    return df.to_csv(deliver)

In [54]:
def pipe():
    #file: 'attacks.csv'
    libs()
    path=input("Ingresa el nombre del archivo en .csv, por ejemplo (attacks.csv)... ")
    raw=read(path)
    print(raw.columns.dtype)
    cols=input("De acuerdo a la tabla anterior, ingresa las columnas que deseas como cadena de caracteres,\nseparadas por comas...")
    coli=input("De acuerdo a la tabla anterior, ingresa las columnas que deseas como entero,\nseparadas por comas...")
    #Year, original order
    #cast_obj(cols)
    df=cut(raw)
    df=sharp(df)
    df=filllingna(df)
    cast_int(coli)
    df=worstcase(df)
    insight(df)
    dest=input("Ingresa el nombre del archivo que deseas para tu DataFrame limpio, en el formato ejemplo ('attacks_clean.csv')...")
    exporttocsv(dest)
    return "Archivo limpio y exportado..."
    #final file: 'attacks_clean.csv'

In [55]:
pipe()

Ingresa el nombre del archivo en .csv, por ejemplo (attacks.csv)... attacks.csv
object
De acuerdo a la tabla anterior, ingresa las columnas que deseas como cadena de caracteres,
separadas por comas...
De acuerdo a la tabla anterior, ingresa las columnas que deseas como entero,
separadas por comas...

TypeError: 'NoneType' object is not subscriptable