## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [24]:
# Your code here
from random import sample
sample_list_1=random.sample(range(100),k=80)
print(sample_list_1)
print("\nHay %d elementos en la lista sample_list_1" % len(sample_list_1))

[78, 74, 8, 69, 70, 18, 17, 88, 16, 39, 75, 12, 44, 83, 32, 36, 71, 66, 52, 68, 38, 47, 29, 87, 45, 23, 28, 94, 5, 10, 42, 76, 92, 80, 1, 22, 35, 60, 72, 77, 79, 0, 11, 15, 19, 89, 34, 54, 96, 98, 57, 2, 24, 82, 13, 99, 95, 21, 85, 97, 25, 46, 53, 31, 4, 37, 51, 56, 6, 41, 20, 43, 40, 93, 63, 90, 9, 67, 62, 49]

Hay 80 elementos en la lista sample_list_1

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [27]:
# Your code here
set1=set(sample_list_1)
print(set1)
print("\nHay %d elementos en la lista sample_list_1" % len(set1))
print(len(sample_list_1)==len(set1))

{0, 1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 56, 57, 60, 62, 63, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

Hay 80 elementos en la lista sample_list_1
True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [28]:
# Your code here
import random
sample_list_2=[]
for i in range(1,81):
    sample_list_2.append(random.randrange(0,100,1))
print(sample_list_2)
print("\nHay %d elementos en la lista sample_list_2" % len(sample_list_2))

[28, 32, 79, 2, 55, 55, 13, 90, 64, 0, 22, 64, 20, 87, 79, 79, 3, 27, 37, 80, 45, 53, 96, 71, 4, 82, 84, 39, 46, 7, 13, 63, 0, 57, 54, 42, 65, 56, 5, 45, 88, 18, 56, 15, 86, 60, 89, 36, 75, 92, 43, 38, 4, 18, 3, 77, 28, 90, 76, 74, 11, 67, 6, 59, 60, 33, 76, 59, 1, 45, 87, 82, 13, 81, 98, 48, 40, 35, 42, 6]

Hay 80 elementos en la lista sample_list_2

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [29]:
# Your code here
set2=set(sample_list_2)
print(set2)
print("\nHay %d elementos en la lista sample_list_1" % len(set2))
print(len(sample_list_2)==len(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 11, 13, 15, 18, 20, 22, 27, 28, 32, 33, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 48, 53, 54, 55, 56, 57, 59, 60, 63, 64, 65, 67, 71, 74, 75, 76, 77, 79, 80, 81, 82, 84, 86, 87, 88, 89, 90, 92, 96, 98}

Hay 58 elementos en la lista sample_list_1
False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [30]:
# Your code here
set3=set1-set2
print(set3)

{8, 9, 10, 12, 16, 17, 19, 21, 23, 24, 25, 29, 31, 34, 41, 44, 47, 49, 51, 52, 62, 66, 68, 69, 70, 72, 78, 83, 85, 93, 94, 95, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [31]:
# Your code here
set4=set2-set1
print(set4)

{64, 33, 65, 3, 7, 59, 48, 81, 84, 86, 55, 27}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [32]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{0, 1, 2, 4, 5, 6, 11, 13, 15, 18, 20, 22, 28, 32, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 53, 54, 56, 57, 60, 63, 67, 71, 74, 75, 76, 77, 79, 80, 82, 87, 88, 89, 90, 92, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [178]:
# Your code here
a=len(set1)
b=len(set2)
c=len(set3)
d=len(set4)
e=len(set5)
leng=[a,b,c,d,e]
print(leng)
if a > b and a > c and a > d and a > e:
    print("len(set1) >")
    if b > c and b > d and b > d:
        print("len(set2) >")
        if c > d or c > e:
            print("len(set3) >")
            if d > e:
                print("len(set4) > len(set5)")
            else:
                print("len(set5) > len(set4)")

[80, 58, 34, 12, 46]
len(set1) >
len(set2) >
len(set3) >
len(set5) > len(set4)

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6={}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [156]:
# Your code here
s3 = list(set3)
s5 = list(set5)
setes = s3+s5
s6=enumerate(setes)
set6.update(s6)
print("Len set3: ", len(set3))
print("Len set5: ", len(set5))
print("\nset6 es: \n",set6)    
print("\nLen set6: ", len(set6))

Len set3:  34
Len set5:  46

set6 es:
 {0: 8, 1: 9, 2: 10, 3: 12, 4: 16, 5: 17, 6: 19, 7: 21, 8: 23, 9: 24, 10: 25, 11: 29, 12: 31, 13: 34, 14: 41, 15: 44, 16: 47, 17: 49, 18: 51, 19: 52, 20: 62, 21: 66, 22: 68, 23: 69, 24: 70, 25: 72, 26: 78, 27: 83, 28: 85, 29: 93, 30: 94, 31: 95, 32: 97, 33: 99, 34: 0, 35: 1, 36: 2, 37: 4, 38: 5, 39: 6, 40: 11, 41: 13, 42: 15, 43: 18, 44: 20, 45: 22, 46: 28, 47: 32, 48: 35, 49: 36, 50: 37, 51: 38, 52: 39, 53: 40, 54: 42, 55: 43, 56: 45, 57: 46, 58: 53, 59: 54, 60: 56, 61: 57, 62: 60, 63: 63, 64: 67, 65: 71, 66: 74, 67: 75, 68: 76, 69: 77, 70: 79, 71: 80, 72: 82, 73: 87, 74: 88, 75: 89, 76: 90, 77: 92, 78: 96, 79: 98}

Len set6:  80

#### Check if `set1` and `set6` are equal.

In [120]:
# Your code here
print("set1 es igual a set6?\n")
print(len(set1) == len(set6))

set1 es igual a set6?

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [122]:
# Your code here
print("set 2 esta dentro de set1?")
print(set2.issubset(set1))
print("set 3 esta dentro de set1?")
print(set3.issubset(set1))

set 2 esta dentro de set1?
False
set 3 esta dentro de set1?
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [136]:
# Your code here
#Con list comprehension
print("La union de los cinco sets es:")
set1a5=set3.union(set4.union(set5.union(set1.union(set2))))
print("\n",set1a5)
#Sin list comprehension
s34=set3.union(set4)
s345=s34.union(set5)
print("\nLa union de set3, set4 y set5 es: \n" , s345)
s3451=s345.union(set1)
s34512=s3451.union(set2)
print("\nLa union de set3, set4, set5, set1 y set2 es: \n" , s34512)
if len(set1a5) == len(s34512):
    print("\nList comprehension funciona!")

La union de los cinco sets es:

 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

La union de set3, set4 y set5 es:
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

La union de set3, set4, set5, set1 y set2 es:
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

List comprehension funciona!

#### Using the `pop` method, remove the first element from `set1`.

In [175]:
# Your code here
s1=list(set1)
print(s1)
s1.pop(0)

print("\nlista de set1 con el primer elemento eliminado\n")
print(s1)

[0, 1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 56, 57, 60, 62, 63, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99]

lista de set1 con el primer elemento eliminado

[1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 56, 57, 60, 62, 63, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [165]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
s1 = list(set1)
for e in s1:
    if e in list_to_remove:
        s1.remove(e)
print("set1 es: \n" , set1) 
print("\nLa nueva lista de set1 es: \n" , s1)

set1 es:
 {0, 1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 56, 57, 60, 62, 63, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

La nueva lista de set1 es:
 [0, 2, 4, 5, 6, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 28, 31, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 51, 52, 53, 54, 56, 57, 60, 62, 63, 66, 67, 68, 70, 72, 74, 75, 76, 77, 78, 80, 82, 83, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98]